* {
  text-align: center;
  box-sizing: border-box;
}

.graybar {
  background-color: rgb(81, 76, 95);
  margin: 4px auto;
  color: white;
  width: 50%;
  padding: 6px;
}

.title {
  border: 2px solid rgb(81, 76, 95);
  padding: 15px;
  margin: 10px auto;
  width: 70%;
}

ul {
  border: 2px solid rgb(120, 141, 136);
  border-radius: 20px;
  margin: 10px auto;
  padding: 8px;
  background-color: honeydew;
  list-style-position: inside;
  width: 50%;
}

li {
  margin: 10px;
  font-size: 15pt;
}